{% extends "layouts/login.html" %}

{% block body %}
<noscript>
	<div class="alert alert-warning" role="alert">Um sich einzuloggen nutzen zu können, müssen JavaScript und Cookies in Ihrem Browser aktiviert sein.</div>
</noscript>
<div id="logintypes">
	<div id="login_classic" >
		
		<form role="form" action="/login" method="POST">
			</noscript>
			<div class="form-group">
				<input type="email" name="email" class="form-control input-lg" id="loginform-email" placeholder="Ihre E-Mail"{%if mail%} value="{{mail}}"{% endif %} />
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control input-lg" id="loginform-pw" placeholder="Ihr Passwort">
			</div>
			{% if msg == "ELOGINFAILED" %}
				<p class="text-danger">Login fehlgeschlagen</p>
			{% endif %}
			<div class="form-group">
				<div class="checkbox input-sm">
					<label>
						<input name="unsafe" type="checkbox"> Angemeldet bleiben <span id="keeplogin" data-toggle="tooltip" data-placement="bottom" title="Dies sollte nur an einem sicheren Computer aktiviert werden" class="glyphicon glyphicon-info-sign"></span>
					</label>
				</div>
			</div>
			{% if redir %}
			<input type="hidden" class="redir" value="{{redir}}" />
			{% endif %}
			<button type="submit" class="btn btn-primary btn-lg btn-block">Anmelden</button>
		</form>
		
	</div>
</div>
{% endblock %}